
:root {
--DesaturatedRed: hsl(0, 36%, 70%);
--SoftRed: hsl(0, 93%, 68%);
--DarkGrayishRed: hsl(0, 6%, 24%);
--Gradient1: "from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)";
--Gradient2L: "from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)";
}

body {
  display: flex;
  justify-content: center;
  font-family: 'Josefin Sans Variable', sans-serif;
  min-height: 100vh;
}

.content-header {
  display: flex;
  min-height: 5rem;
  align-items: center;
  padding: 1.5em;
}

.main-image {
  max-width: 100%;
}

.main-image > img {
  object-fit: cover;
  /* width: 100%; */
}

.main-text {
  display: grid;
  gap: 2em;
  padding: 2em;
}

.main__title {
  color: var(--DarkGrayishRed);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2.5rem;
  text-align: center;
}

.accent-rose {
  color: var(--DesaturatedRed);
  display: block;
  font-weight: 300;
}

.main__info {
  color: var(--DesaturatedRed);
  text-align: center;
}

.main-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

label[for="email-input"] {
  border: 2px solid var(--DesaturatedRed);
  border-radius: 50px;
  padding: .5em 1em;
}

input[name="email"] {
  border: 0;
  outline: none;
}

.email-btn {
  border-radius: 50px;
  background-image: linear-gradient( 135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  padding: .80em 1.55em;
  border: none;
}


/* Media query for desktop */

@media screen and (min-width: 60rem) {
  .main-content {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 80px auto;
    width: 100%;
    grid-template-areas: 
    "header header"
    "image text";
  }

  .content-header {
    grid-area: "header";
  }

  .main__title {
    font-size: 4rem;
    letter-spacing: 1rem;
  }

  .main__info {
    max-width: 25rem;
  }

  .main-image {
    grid-area: "image";
  }

  .main-text {
    grid-area: "text";
    display: grid;
    gap: 2em;
    max-width: 45rem;
    text-align: left;
  }
}


