
:root {
--DesaturatedRed: hsl(0, 36%, 70%);
--SoftRed: hsl(0, 93%, 68%);
--DarkGrayishRed: hsl(0, 6%, 24%);
--Gradient1: "from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)";
--Gradient2L: "from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)";
}

 *, *::before, *::after {
  border: 0;
  margin: 0;
  padding: 0;
  line-height: 1.5;
 }

body {
  font-family: 'Josefin Sans Variable', sans-serif;
  /* Setup the grid here */
  line-height: 1.5;

  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;
  gap: 10px;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  overflow-x: hidden;
}

img, picture {
  display: block;
  width: 100%; /* Add this line to ensure the image fills its container */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* This ensures the image covers the entire container */
}

form {
  display: flex;
  position: relative;
  padding: 2em 0em;
}

label, input, button {
  border-radius: 50px;
  border: none;
}

label {
  height: 3rem;
  border: .0625rem solid var(--DesaturatedRed);
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 20rem;
}

input {
  outline: none;
  padding: 0em 2em;
}

button {
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: center;
  margin-left: -3rem;
  padding: 0em 1.75em;
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%),hsl(0, 74%, 74%));
  transition: all .07s;
}

button:is(:hover, :active) {
  transform: scale(1.1);
  cursor: pointer;
}

.form-error-text {
  position: absolute;
  bottom: 0;
  color: var(--SoftRed);
  left: .5em;
}


.form-error {
  /* transform: translateX(-205%); */
}

.hidden {
  display: none;
}

.text {
    display: grid;
    gap: 1.5em;
    text-align: center;
    padding: 2em;
}

/* Tyopgraphy */

.text__title {
    color: var(--DarkGrayishRed);
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.accent {
  color: var(--DesaturatedRed);
  font-weight: 300;
}

.text__info {
  color: var(--DesaturatedRed);
  font-weight: 600;
  line-height: 1.5;
  max-width: 30rem;
}

header {
  order: 1;
  display: flex;
  align-items: center;
  min-height: 4rem;
}

aside {
  order: 2;
  width: 100%;
}


main {
  order: 3;
}


@media screen and (min-width: 60rem) {
  body {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 5rem 1fr;
  }


  header {
    grid-row: 1 / span 1;
    display: grid;
    align-items: center;
    padding: 2em;
  }

  main {
    display: grid;
    align-items: center;
    padding: 2em;
  }

  aside {
    grid-row: 1 / span 2;
    width: 100%;
    max-width: 100%;
  }
  
  .text {
    text-align: left;
  }

  .text__title {
    font-size: 4rem;
  }
}